body{
    background:#0f1117;
    color:white;
    font-family:system-ui;
}

.container{
    max-width:1200px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:180px;
    gap:16px;
}

.card{
    background:#1a1d24;
    padding:20px;
    border-radius:16px;
    transition:0.2s;
}

.card:hover{
    transform:translateY(-3px);
}

.large{
    grid-column:span 2;
}

.tall{
    grid-row:span 2;
}

a{
    text-decoration:none;
    color:white;
}